.body {
    padding: 0;
    margin: 0;
    font-family: tahoma, cursive;
    font-size: 12px;
}
.container {
    width: 1000px;
    margin: 0 auto;
    background: #fcfcfc;
}
.header {
    height: 100px;
}
.top-menu {

}
.top-menu-ul {
    padding: 0;
    margin: 0;
}
.top-menu-ul-li {
    padding: 0;
    margin: 0;
    list-style-type: none;
    float: left;
}
.top-menu-ul-li-a {
    display: block;
    padding: 3px 10px;
    text-decoration: none;
}
.c1 {
    background: #fcfefe;
    width: 200px;
    float: left;
}
.c23 {
    background: #fefcfe;
    width: 800px;
    float: left;
}
.clear {
    clear: both;
    height: 0;
    line-height: 0;
    overflow: hidden;
}
.footer {
    height: 30px;
    text-align: center;
}